.bankInfo{
	position: relative;
	top: 40px;

}
#bodycolor{
	background-color: f4f4f4;
}
.container{
background-image: url('img/container.jpg');
background-color:fff;
min-height: 550px;

}
#listBloodUpdate{

	position: relative;
	left: 220px;
	top: 20px;
}

#listBloodUpdate ul {
margin: 0;
padding: 0;
 list-style-type: none; 
}

#listBloodUpdate ul li { 
	display: inline;
	padding: .2em 1em;
	 }
.navSignout{
	float: right;
}
.header{
	background-color: #00FFFF;
	position: relative;
	width: 940px;
left:205px;
}