<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normal.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/AboutUsStyle.css">
  <link rel="stylesheet" href="/stylesheets/animation.css">
  
	
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>
<body>

  <div class="fixed-header">
    <div class="w-container container">
      <div class="w-row">

       

        <!--///////////////////////////////////////////////////////
       // End Logo section 
       //////////////////////////////////////////////////////////-->

        <div class="w-col w-col-12">

       <!--///////////////////////////////////////////////////////
       // Menu section 
       //////////////////////////////////////////////////////////-->


          <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
            <div class="w-container nav">
              <nav class="w-nav-menu nav-menu" role="navigation">
                <a class="w-nav-link menu-li" href="home.html">HOME</a>
              </nav>
              <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
              </div>
            </div>
          </div>


          <!--///////////////////////////////////////////////////////
       // End Menu section 
       //////////////////////////////////////////////////////////-->


        </div>
      </div>
    </div>
  </div>
	<!--///////////////////////////////////////////////////////
       // Team section 
       //////////////////////////////////////////////////////////-->

  <div class="team-parlex" id="team">
    <div class="parlex5-back">
      <div class="w-container">
        <div class="wrap">
          <div class="team">
            <h1 class="team">TEAM</h1>
            <div class="sepreater team-sep"></div>
          </div>
          <div class="team-text">
            <p class="team-text-para">We developed this as part of our social responsibility.&nbsp;
              <br>We take pride in our work and enjoy doing it with precision and love.</p>
          </div>
          <div class="w-row team-member">
            <div class="w-col w-col-6">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="images/team/mahesh.jpeg" alt="mahesh.jpeg">
                </div>
                <div class="team-des">
                  <h4 class="team-name">MAHESH DHAMGUNDE</h4>
                  <div class="team-name-des">Developer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://facebook.com/mahesh.dhamgunde.1" target="_blank"><img class="social" src="images/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://twitter.com/immahehsh" target="_blank"><img class="social" src="images/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/in/maheshdhamgunde" target="_blank"><img class="social" src="images/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/" target="_blank"><img class="social" src="images/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-6">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="images/team/shreyas.png" alt="shreyas.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">SHREYAS BHAT</h4>
                  <div class="team-name-des">Developer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/shrysbhat" target="_blank"><img class="social" src="images/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/shreyas_bhat" target="_blank"><img class="social" src="images/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/in/shreyasbhat" target="_blank"><img class="social" src="images/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/113592713483391160343" target="_blank"><img class="social" src="images/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>