<!DOCTYPE html>
<html>
  <head>
    
    <title>Simple Upload</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/normal.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/AboutUsStyle.css">
  	<link rel="stylesheet" href="/stylesheets/animation.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    
    <style>
    </style>
  
  </head>
  <body>
    <header>
      <h1>Simple file upload.</h1>
    </header>
    <main>
      <section id="upload">
        <form action="/upload" method="post" enctype="multipart/form-data">
          <label for="file">Select your file:</label>
          <input type="file" name="file" id="file" accept="image/*,audio/*,video/*" />
          <br>
          <button type="submit">Upload</button>
        </form>
      </section>
    </main>
  </body>
</html>